services:
  postgres:
    image: postgres:16
    container_name: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: usersdb
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - backend

  user-service:
    build: ./user-service
    container_name: user-service
    ports:
      - "8081:8081"
    environment:
      DB_HOST: postgres
      DB_USER: postgres
      DB_PASSWORD: password
      DB_NAME: usersdb
      DB_PORT: 5432
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - backend

  gateway:
    build: ./gateway
    container_name: gateway
    ports:
      - "8080:8080"
    env_file:
      - .env
    depends_on:
      - user-service
      - auth-service
    networks:
        - backend


  auth-service:
    build: ./auth-service
    container_name: auth-service
    ports:
      - "8083:8083"
    environment:
      DB_HOST: postgres
      DB_USER: postgres
      DB_PASSWORD: password
      DB_NAME: usersdb
      DB_PORT: 5432
    depends_on:
      postgres:
        condition: service_healthy
    networks:
        - backend

volumes:
  postgres_data:

networks:
  backend:
    driver: bridge