{
    "schemes": [
        "https",
        "http"
    ],
    "swagger": "2.0",
    "info": {
        "description": "Slot scheduling and booking system for KBTU counseling platform.",
        "title": "KBTU Psychologist Booking Service API",
        "contact": {},
        "version": "1.0"
    },
    "host": "api.kbtucare.site",
    "basePath": "/api/v1",
    "paths": {
        "/admin/bookings": {
            "get": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Allows admin to see all booked slots across the platform.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "admin"
                ],
                "summary": "Admin: View all bookings",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/models.SlotResponse"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/models.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/admin/bookings/{id}/cancel": {
            "post": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Allows admin to cancel any booking, even if they aren't the psychologist or student.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "admin"
                ],
                "summary": "Admin: Force cancel a booking",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Slot ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/models.MessageResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/models.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/admin/dashboard": {
            "get": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Returns global stats for the admin dashboard, including top psychologist.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "admin"
                ],
                "summary": "Admin: Get system statistics",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/handlers.AdminDashboard"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/models.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/admin/reviews": {
            "get": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Admin views unmasked ratings and reviews across the platform, including student and psychologist identities.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "admin"
                ],
                "summary": "Admin: View all reviews",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/models.AdminReviewResponse"
                            }
                        }
                    },
                    "403": {
                        "description": "Admin access required",
                        "schema": {
                            "$ref": "#/definitions/models.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Database error",
                        "schema": {
                            "$ref": "#/definitions/models.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/psychologist/reviews": {
            "get": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Psychologist views their ratings and written reviews. Student identities and exact dates are anonymized to protect privacy.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "psychologist-slots"
                ],
                "summary": "Get anonymous reviews",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/models.AnonymousReviewResponse"
                            }
                        }
                    }
                }
            }
        },
        "/psychologist/slots": {
            "get": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Returns all slots for the logged-in psychologist, including student details for booked slots.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "psychologist-slots"
                ],
                "summary": "Get psychologist's own schedule",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Filter period: 'day', 'week', 'month' (default: day)",
                        "name": "period",
                        "in": "query"
                    },
                    {
                        "type": "string",
                        "description": "Start date for filter (YYYY-MM-DD), default: today",
                        "name": "date",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/models.PsychologistScheduleResponse"
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/models.ErrorResponse"
                        }
                    }
                }
            },
            "post": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Psychologist generates multiple slots based on a weekly schedule pattern between start_date and end_date.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "psychologist-slots"
                ],
                "summary": "Create schedule slots for a psychologist",
                "parameters": [
                    {
                        "description": "Schedule configuration",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/models.CreateScheduleInput"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/models.ScheduleCreatedResponse"
                        }
                    },
                    "400": {
                        "description": "validation error or no slots created",
                        "schema": {
                            "$ref": "#/definitions/models.ErrorResponse"
                        }
                    },
                    "403": {
                        "description": "only psychologists can create slots",
                        "schema": {
                            "$ref": "#/definitions/models.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "database error",
                        "schema": {
                            "$ref": "#/definitions/models.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/psychologist/slots/{id}": {
            "delete": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Allows a psychologist to remove an available slot from their schedule. Fails if the slot is already booked.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "psychologist-slots"
                ],
                "summary": "Delete an unbooked slot",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Slot ID (UUID)",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/models.MessageResponse"
                        }
                    },
                    "400": {
                        "description": "Invalid request",
                        "schema": {
                            "$ref": "#/definitions/models.ErrorResponse"
                        }
                    },
                    "403": {
                        "description": "Not authorized or not the owner",
                        "schema": {
                            "$ref": "#/definitions/models.ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Slot not found",
                        "schema": {
                            "$ref": "#/definitions/models.ErrorResponse"
                        }
                    },
                    "409": {
                        "description": "Cannot delete a booked slot",
                        "schema": {
                            "$ref": "#/definitions/models.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Database error",
                        "schema": {
                            "$ref": "#/definitions/models.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/psychologist/slots/{id}/cancel": {
            "post": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Psychologist cancels a session. Frees the slot and triggers a cancellation email to the student.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "psychologist-slots"
                ],
                "summary": "Psychologist cancels a booked appointment",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Slot ID (UUID)",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/models.MessageResponse"
                        }
                    },
                    "403": {
                        "description": "Not authorized",
                        "schema": {
                            "$ref": "#/definitions/models.ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Slot not found",
                        "schema": {
                            "$ref": "#/definitions/models.ErrorResponse"
                        }
                    },
                    "409": {
                        "description": "Slot is not booked",
                        "schema": {
                            "$ref": "#/definitions/models.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/psychologist/slots/{id}/notes": {
            "put": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Psychologist writes private notes after a session. Hidden from the student.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "psychologist-slots"
                ],
                "summary": "Add private notes to a session",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Slot ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "The private notes",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/models.AddNoteInput"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/models.MessageResponse"
                        }
                    }
                }
            }
        },
        "/psychologist/slots/{id}/recommendations": {
            "put": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Psychologist writes post-session recommendations. This is visible to the student and triggers an email notification.",
                "tags": [
                    "psychologist-slots"
                ],
                "summary": "Add recommendations for a student",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Slot ID (UUID of the completed session)",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "The recommendations text",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/models.RecommendationInput"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Recommendations successfully saved and student notified",
                        "schema": {
                            "$ref": "#/definitions/models.MessageResponse"
                        }
                    },
                    "400": {
                        "description": "Invalid request body",
                        "schema": {
                            "$ref": "#/definitions/models.ErrorResponse"
                        }
                    },
                    "403": {
                        "description": "Not authorized or not the owner of this session",
                        "schema": {
                            "$ref": "#/definitions/models.ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Slot not found",
                        "schema": {
                            "$ref": "#/definitions/models.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Database or internal server error",
                        "schema": {
                            "$ref": "#/definitions/models.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/psychologist/statistics": {
            "get": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Returns meaningful KPIs: Load, Ratings, Trends, and efficiency.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "psychologist-slots"
                ],
                "summary": "Get psychologist dashboard statistics",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/models.PsychologistStats"
                        }
                    }
                }
            }
        },
        "/psychologist/students/{student_id}/history": {
            "get": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Psychologist views all past sessions and private notes for a specific student.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "psychologist-slots"
                ],
                "summary": "Get a student's session history",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Student ID",
                        "name": "student_id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/models.StudentHistoryResponse"
                            }
                        }
                    }
                }
            }
        },
        "/slots": {
            "get": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Returns free slots for a given psychologist and date, enriched with psychologist name via gRPC.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "slots"
                ],
                "summary": "Get available slots for a specific date",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Psychologist ID",
                        "name": "psychologist_id",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Date in format YYYY-MM-DD",
                        "name": "date",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/models.SlotResponse"
                            }
                        }
                    },
                    "400": {
                        "description": "missing params",
                        "schema": {
                            "$ref": "#/definitions/models.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "database or gRPC error",
                        "schema": {
                            "$ref": "#/definitions/models.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/slots/calendar": {
            "get": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Returns dates within the specified month where the psychologist has at least one free slot.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "slots"
                ],
                "summary": "Get calendar days with available slots",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Psychologist ID",
                        "name": "psychologist_id",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Year (e.g. 2026)",
                        "name": "year",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "Month (1-12 or 01-12)",
                        "name": "month",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/models.CalendarAvailabilityResponse"
                        }
                    },
                    "400": {
                        "description": "missing params",
                        "schema": {
                            "$ref": "#/definitions/models.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/student/appointments": {
            "get": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Returns a list of all upcoming and past appointments booked by the logged-in student.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "student-booking"
                ],
                "summary": "Get student's booked appointments",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/models.StudentAppointmentResponse"
                            }
                        }
                    },
                    "403": {
                        "description": "Not authorized",
                        "schema": {
                            "$ref": "#/definitions/models.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Database error",
                        "schema": {
                            "$ref": "#/definitions/models.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/student/slots/{id}/book": {
            "post": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Student books a specific slot. Uses optimistic locking on the version field to avoid double-booking.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "student-booking"
                ],
                "summary": "Book a slot as a student",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Slot ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Booking details: type",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/models.ReserveSlotInput"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/models.MessageResponse"
                        }
                    },
                    "400": {
                        "description": "invalid request body",
                        "schema": {
                            "$ref": "#/definitions/models.ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "slot not found",
                        "schema": {
                            "$ref": "#/definitions/models.ErrorResponse"
                        }
                    },
                    "409": {
                        "description": "slot already booked or just booked",
                        "schema": {
                            "$ref": "#/definitions/models.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "database error",
                        "schema": {
                            "$ref": "#/definitions/models.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/student/slots/{id}/cancel": {
            "post": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Student cancels their own booking. This resets the slot to 'available' and notifies the waitlist.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "student-booking"
                ],
                "summary": "Cancel a booked appointment",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Slot ID (UUID)",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Reason for cancellation",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/models.CancelAppointmentInput"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Appointment successfully canceled",
                        "schema": {
                            "$ref": "#/definitions/models.MessageResponse"
                        }
                    },
                    "400": {
                        "description": "Invalid request",
                        "schema": {
                            "$ref": "#/definitions/models.ErrorResponse"
                        }
                    },
                    "403": {
                        "description": "Not authorized or not the owner",
                        "schema": {
                            "$ref": "#/definitions/models.ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Slot not found",
                        "schema": {
                            "$ref": "#/definitions/models.ErrorResponse"
                        }
                    },
                    "409": {
                        "description": "Slot is not booked",
                        "schema": {
                            "$ref": "#/definitions/models.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Database error",
                        "schema": {
                            "$ref": "#/definitions/models.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/student/slots/{id}/confirm": {
            "post": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Finalizes the reservation by submitting the questionnaire and student's phone number. Requires a previous 'reserve' action.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "student-booking"
                ],
                "summary": "Confirm a booked appointment",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Slot ID (Must be currently 'reserved')",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Booking details (phone, answers)",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/models.ConfirmSlotInput"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/models.MessageResponse"
                        }
                    },
                    "400": {
                        "description": "Invalid request body",
                        "schema": {
                            "$ref": "#/definitions/models.ErrorResponse"
                        }
                    },
                    "403": {
                        "description": "Not authorized or no active reservation",
                        "schema": {
                            "$ref": "#/definitions/models.ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Slot not found",
                        "schema": {
                            "$ref": "#/definitions/models.ErrorResponse"
                        }
                    },
                    "409": {
                        "description": "Reservation expired or conflict",
                        "schema": {
                            "$ref": "#/definitions/models.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Database or gRPC error",
                        "schema": {
                            "$ref": "#/definitions/models.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/student/slots/{id}/rate": {
            "post": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Student leaves a 1-5 star rating and an optional review for a completed appointment.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "student-booking"
                ],
                "summary": "Rate a completed session",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Slot ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Rating and Review",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/models.RateSessionInput"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/models.MessageResponse"
                        }
                    },
                    "400": {
                        "description": "Invalid rating (must be 1-5) or session not finished",
                        "schema": {
                            "$ref": "#/definitions/models.ErrorResponse"
                        }
                    },
                    "403": {
                        "description": "Not authorized",
                        "schema": {
                            "$ref": "#/definitions/models.ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Slot not found",
                        "schema": {
                            "$ref": "#/definitions/models.ErrorResponse"
                        }
                    },
                    "409": {
                        "description": "Session already rated",
                        "schema": {
                            "$ref": "#/definitions/models.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/student/slots/{id}/reschedule": {
            "post": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Student moves their booking from one slot to another available slot atomically. Alerts waitlist for the old slot.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "student-booking"
                ],
                "summary": "Reschedule an appointment",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Old Slot ID (The one currently booked)",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "The new Slot ID to move to",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/models.RescheduleInput"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Appointment successfully rescheduled",
                        "schema": {
                            "$ref": "#/definitions/models.MessageResponse"
                        }
                    },
                    "400": {
                        "description": "Invalid request body or same slot IDs",
                        "schema": {
                            "$ref": "#/definitions/models.ErrorResponse"
                        }
                    },
                    "403": {
                        "description": "Not authorized or not the owner",
                        "schema": {
                            "$ref": "#/definitions/models.ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "Slot not found",
                        "schema": {
                            "$ref": "#/definitions/models.ErrorResponse"
                        }
                    },
                    "409": {
                        "description": "New slot already booked or race condition",
                        "schema": {
                            "$ref": "#/definitions/models.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "Database error",
                        "schema": {
                            "$ref": "#/definitions/models.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/student/slots/{id}/reserve": {
            "post": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Student books a specific slot. Uses optimistic locking on the version field to avoid double-booking.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "student-booking"
                ],
                "summary": "Book a slot as a student",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Slot ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "Booking details: type",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/models.ReserveSlotInput"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/models.MessageResponse"
                        }
                    },
                    "400": {
                        "description": "invalid request body",
                        "schema": {
                            "$ref": "#/definitions/models.ErrorResponse"
                        }
                    },
                    "404": {
                        "description": "slot not found",
                        "schema": {
                            "$ref": "#/definitions/models.ErrorResponse"
                        }
                    },
                    "409": {
                        "description": "slot already booked or just booked",
                        "schema": {
                            "$ref": "#/definitions/models.ErrorResponse"
                        }
                    },
                    "500": {
                        "description": "database error",
                        "schema": {
                            "$ref": "#/definitions/models.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/student/waitlist": {
            "get": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Student sees all the dates and psychologists they are waiting for.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "student-waitlist"
                ],
                "summary": "View my waitlists",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/models.WaitlistResponse"
                            }
                        }
                    }
                }
            },
            "post": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Student joins a waitlist for a specific psychologist on a specific date.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "student-waitlist"
                ],
                "summary": "Join a waitlist",
                "parameters": [
                    {
                        "description": "Waitlist details",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/models.JoinWaitlistInput"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created",
                        "schema": {
                            "$ref": "#/definitions/models.MessageResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/models.ErrorResponse"
                        }
                    },
                    "409": {
                        "description": "Already on waitlist",
                        "schema": {
                            "$ref": "#/definitions/models.ErrorResponse"
                        }
                    }
                }
            }
        },
        "/student/waitlist/{id}": {
            "delete": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Student removes themselves from a specific waitlist entry.",
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "student-waitlist"
                ],
                "summary": "Leave a waitlist",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Waitlist Entry ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/models.MessageResponse"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "handlers.AdminDashboard": {
            "type": "object",
            "properties": {
                "most_popular_psych_id": {
                    "type": "string"
                },
                "most_popular_psych_name": {
                    "type": "string"
                },
                "offline_ratio": {
                    "type": "number"
                },
                "online_ratio": {
                    "type": "number"
                },
                "total_bookings": {
                    "type": "integer"
                },
                "total_waitlisted": {
                    "type": "integer"
                }
            }
        },
        "models.AddNoteInput": {
            "type": "object",
            "required": [
                "notes"
            ],
            "properties": {
                "notes": {
                    "type": "string"
                }
            }
        },
        "models.AdminReviewResponse": {
            "type": "object",
            "properties": {
                "psychologist_id": {
                    "type": "string"
                },
                "psychologist_name": {
                    "type": "string"
                },
                "rating": {
                    "type": "integer"
                },
                "review": {
                    "type": "string"
                },
                "slot_id": {
                    "type": "string"
                },
                "start_time": {
                    "type": "string"
                },
                "student_id": {
                    "type": "string"
                },
                "student_name": {
                    "type": "string"
                }
            }
        },
        "models.AnonymousReviewResponse": {
            "type": "object",
            "properties": {
                "month_year": {
                    "description": "e.g., \"February 2026\"",
                    "type": "string"
                },
                "rating": {
                    "type": "integer"
                },
                "review": {
                    "type": "string"
                }
            }
        },
        "models.CalendarAvailabilityResponse": {
            "type": "object",
            "properties": {
                "available_dates": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    },
                    "example": [
                        "2026-02-10",
                        "2026-02-14"
                    ]
                }
            }
        },
        "models.CancelAppointmentInput": {
            "type": "object",
            "required": [
                "reason"
            ],
            "properties": {
                "reason": {
                    "type": "string",
                    "example": "Schedule conflict with my midterm exam"
                }
            }
        },
        "models.ConfirmSlotInput": {
            "type": "object",
            "required": [
                "phone_number"
            ],
            "properties": {
                "answers": {
                    "type": "string",
                    "example": "{\"reason\": \"Exam stress\"}"
                },
                "phone_number": {
                    "type": "string"
                }
            }
        },
        "models.CreateScheduleInput": {
            "type": "object",
            "required": [
                "end_date",
                "schedule",
                "start_date"
            ],
            "properties": {
                "duration": {
                    "description": "50 (default)",
                    "type": "integer"
                },
                "end_date": {
                    "description": "\"2026-03-20\"",
                    "type": "string"
                },
                "schedule": {
                    "description": "The template",
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/models.DaySchedule"
                    }
                },
                "start_date": {
                    "description": "\"2026-02-20\"",
                    "type": "string"
                }
            }
        },
        "models.DaySchedule": {
            "type": "object",
            "required": [
                "day_of_week",
                "start_times"
            ],
            "properties": {
                "day_of_week": {
                    "description": "1=Mon, 2=Tue...",
                    "type": "integer"
                },
                "start_times": {
                    "description": "[\"09:00\", \"10:00\", \"14:00\"]",
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                }
            }
        },
        "models.ErrorResponse": {
            "type": "object",
            "properties": {
                "error": {
                    "type": "string",
                    "example": "Invalid start_date"
                }
            }
        },
        "models.JoinWaitlistInput": {
            "type": "object",
            "required": [
                "date",
                "psychologist_id"
            ],
            "properties": {
                "date": {
                    "type": "string"
                },
                "psychologist_id": {
                    "type": "string"
                }
            }
        },
        "models.MessageResponse": {
            "type": "object",
            "properties": {
                "message": {
                    "type": "string",
                    "example": "Booking successful"
                }
            }
        },
        "models.PsychologistScheduleResponse": {
            "type": "object",
            "properties": {
                "booking_type": {
                    "type": "string"
                },
                "duration": {
                    "type": "integer"
                },
                "id": {
                    "type": "string"
                },
                "phone_number": {
                    "type": "string"
                },
                "psychologist_id": {
                    "type": "string"
                },
                "questionnaire_answers": {
                    "type": "string"
                },
                "start_time": {
                    "type": "string"
                },
                "status": {
                    "type": "string"
                },
                "student_id": {
                    "type": "string"
                },
                "student_name": {
                    "type": "string"
                }
            }
        },
        "models.PsychologistStats": {
            "type": "object",
            "properties": {
                "average_rating": {
                    "type": "number"
                },
                "cancellation_rate": {
                    "description": "% of bookings cancelled by students",
                    "type": "number"
                },
                "most_common_booking": {
                    "description": "\"online\" or \"offline\"",
                    "type": "string"
                },
                "sessions_this_month": {
                    "type": "integer"
                },
                "total_sessions": {
                    "type": "integer"
                },
                "upcoming_sessions": {
                    "type": "integer"
                }
            }
        },
        "models.RateSessionInput": {
            "type": "object",
            "required": [
                "rating"
            ],
            "properties": {
                "rating": {
                    "description": "Must be 1-5",
                    "type": "integer",
                    "maximum": 5,
                    "minimum": 1
                },
                "review": {
                    "description": "Optional text review",
                    "type": "string",
                    "maxLength": 500
                }
            }
        },
        "models.RecommendationInput": {
            "type": "object",
            "required": [
                "recommendations"
            ],
            "properties": {
                "recommendations": {
                    "type": "string"
                }
            }
        },
        "models.RescheduleInput": {
            "type": "object",
            "required": [
                "new_slot_id"
            ],
            "properties": {
                "new_slot_id": {
                    "type": "string"
                }
            }
        },
        "models.ReserveSlotInput": {
            "type": "object",
            "required": [
                "booking_type"
            ],
            "properties": {
                "booking_type": {
                    "type": "string",
                    "enum": [
                        "online",
                        "offline"
                    ],
                    "example": "online"
                }
            }
        },
        "models.ScheduleCreatedResponse": {
            "type": "object",
            "properties": {
                "count": {
                    "type": "integer",
                    "example": 24
                },
                "message": {
                    "type": "string",
                    "example": "Schedule created successfully"
                }
            }
        },
        "models.SlotResponse": {
            "type": "object",
            "properties": {
                "booking_type": {
                    "type": "string"
                },
                "duration": {
                    "type": "integer"
                },
                "id": {
                    "type": "string"
                },
                "psychologist_id": {
                    "type": "string"
                },
                "psychologist_name": {
                    "type": "string"
                },
                "start_time": {
                    "type": "string"
                },
                "status": {
                    "type": "string"
                }
            }
        },
        "models.StudentAppointmentResponse": {
            "type": "object",
            "properties": {
                "booking_type": {
                    "type": "string"
                },
                "duration": {
                    "type": "integer"
                },
                "id": {
                    "type": "string"
                },
                "psychologist_id": {
                    "type": "string"
                },
                "psychologist_name": {
                    "type": "string"
                },
                "questionnaire_answers": {
                    "type": "string"
                },
                "start_time": {
                    "type": "string"
                },
                "student_recommendations": {
                    "type": "string"
                }
            }
        },
        "models.StudentHistoryResponse": {
            "type": "object",
            "properties": {
                "booking_type": {
                    "type": "string"
                },
                "psychologist_notes": {
                    "type": "string"
                },
                "questionnaire_answers": {
                    "type": "string"
                },
                "slot_id": {
                    "type": "string"
                },
                "start_time": {
                    "type": "string"
                }
            }
        },
        "models.WaitlistResponse": {
            "type": "object",
            "properties": {
                "created_at": {
                    "type": "string"
                },
                "date": {
                    "type": "string"
                },
                "id": {
                    "type": "string"
                },
                "psychologist_id": {
                    "type": "string"
                },
                "psychologist_name": {
                    "type": "string"
                }
            }
        }
    },
    "securityDefinitions": {
        "BearerAuth": {
            "type": "apiKey",
            "name": "Authorization",
            "in": "header"
        }
    }
}